<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EldenRingCalculator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink style="padding-left: 8px;" class="nav-link" href="" player=@player Match="NavLinkMatch.All">
                <img style="margin-right: 8px;" src="/assets/Icons/Menu/scroll-quill.png" /> Stats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink style="padding-left: 8px;" class="nav-link" href="equipment">
                <img style="margin-right: 8px;" src="/assets/Icons/Menu/scroll-quill.png" /> Equipment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink style="padding-left: 8px;" class="nav-link" href="weather">
                <img style="margin-right: 8px;" src="/assets/Icons/Menu/scroll-quill.png" /> Buffs
            </NavLink>
        </div>
    </nav>
</div>

@code {
    Player player = new Player();
}